/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2019, 10:42:03 AM
    Author     : Avijit Dutta Studio
*/


.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#gallery-modal .modal-content .water-mark > img{
    max-width: 100%;
    height: auto;
}
#gallery-modal .modal-content .water-mark > .strip-line{
    background: #000000;
    margin-left: -20px;
    margin-right: -20px;
    padding: 5px 5px;
    color: #ffffff;
}
.modal-content .water-mark{
    background-color:transparent;/* rgba(0,0,0,0.5)*/
    padding: 20px 20px;
}
.modal-content .water-mark.wm-center{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 50%;
    opacity: 0.5;
}
.modal-content .water-mark.wm-topleft{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: left;
    top: 0;
}
.modal-content .water-mark.wm-topright{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: right;
    top: 0;
}
.modal-content .water-mark.wm-btmright{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: right;
    bottom: 0;
}
.modal-content .water-mark.wm-btmleft{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: left;
    bottom: 0;
}
.modal-content .water-mark.wm-full{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    top: 0;
    background-image: url(../images/watermark.png);
    background-position: center top;
}
.modal-header .modal-title {
    margin: 0;
    line-height: 1.42857143;
    float: left;
}

a.thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#gallery-modal .modal-body img{
    min-width: 100%;
    height: auto;
}

/* GALLERY MODAL // STYLE-4 // start here -- */
#gallery-modal.modal-regalis .modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
#gallery-modal.modal-regalis .modal-body{
    overflow: hidden;
    padding: 0px;
}
#gallery-modal.modal-regalis .modal-header {
    width: 100%;
    display: block;
    padding: 15px;
    border-bottom: 1px solid transparent;
    background-color: rgba(0,0,0,0.08);
    z-index: 1;
    position: absolute;
}
#gallery-modal.modal-regalis .modal-header .modal-title{
    text-align: center;
    float: none;
}
#gallery-modal.modal-regalis .modal-header .close {
    margin-top: -42px;}
#gallery-modal.modal-regalis .modal-close{
    width: 100%;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    margin-top: 0px;/*-40px*/    
}
#gallery-modal.modal-regalis .modal-close button.close{
    opacity: 0.5;
    color: #ffffff; 
}
#gallery-modal.modal-regalis .modal-close button.close:hover{
    opacity: 1.0;
    color: #ffffff; 
}
#gallery-modal.modal-regalis .modal-close button.close i{
    font-size: 20px;
}
#gallery-modal.modal-regalis .modal-footer{
    padding: 15px;
    text-align: right;
    border-top: 1px solid transparent;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#gallery-modal.modal-regalis .modal-description{
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding: 15px 10px;
}
    @media (max-width: 768px) {	
        #gallery-modal .modal-dialog{
            width: 100%;
}	
    }
/* GALLERY MODAL // STYLE-4 // end here -- */

#gallery-modal .modal-close{
width: 100%;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    z-index: 2;
    position: absolute;
    margin-top: -40px;    
}
#gallery-modal .modal-button{
    padding: 15px;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#gallery-modal .modal-button.middle{
    top: 50%;
}
#gallery-modal .modal-button.top{
    top: 0;
    z-index: 1;
}
#gallery-modal .modal-button.bottom{
    bottom: 0;
}
#gallery-modal .modal-button .btn-prev{
    float: left;
}
#gallery-modal .modal-button .btn-next{
    float: right;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
