/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.crsl_img
{
 
}
/*.owl-item.cloned.active.center {
    width: 5%!important;
    margin-top: -19px;
}
.owl-carousel .owl-stage {
    margin-top: 20px;
}*/

.search {
    border-radius: 4px;
    padding: 3px;
}

.col_black
{
    color: #000;
}
